name: CI
on:
  push:
    branches-ignore:
      - dependabot/**
    paths:
      - package*.json
      - '**/*.md'
      - .github/workflows/ci.yml
      - .github/workflows/remark-lint-problem-matcher.json

  pull_request:
    paths:
      - package*.json
      - '**/*.md'
      - .github/workflows/ci.yml
      - .github/workflows/remark-lint-problem-matcher.json

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3

      - name: Install npm dependencies
        run: npm ci

      - name: Test
        run: |
          echo "::add-matcher::.github/workflows/remark-lint-problem-matcher.json"
          npm test
